:root{
    --cor: #f1f4;
}

.main{
    /* background-color: var(--cor); */
    text-align: center;
}
li{
    list-style: none;
    padding: 20px;
}

.article{
    font: normal 16px Arial, Verdana, serif;
    text-align: justify;
}