body{
    padding: 0;
    margin: 0;
    background-color: rgb(227, 254, 255);
}

#header{
    padding: 0px 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#header nav ul a{
    font-size: larger;
    padding: 5px;
    color: white;
    text-decoration:none ;
}

.article{
    text-align: center;
}

#footer{
    text-align: center;
}